h1 {
  text-decoration: underline;
}

.css-10ee0wq.ee0h16j0
  main
  .css-1l5fumb.e1ubytrs0
  .container.css-1lamadu.e17znnp70
  .css-1h7tmvt.ecbxtyg1
  .css-1cjhcwh.efgj5kj15
  .efgj5kj11.css-16sngxf.e15sbrx52
  form#mkto_1064
  .css-1e862u4.e15sbrx55
  .css-1jklu2u.e15sbrx53
  > input#Phone {
  background-color: #f0f8ff;
  border: 2px solid #007acc;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
}
